.coustom-color{
  background-color:#FEEAE8;  
}
.categories img{
width: 100px;
}
.panda_btn{
  color: white;
  font-size: larger;
  border-radius: 8px;
  padding: 9px 25px;
  border: none;
  background-image: linear-gradient(to bottom, #e11f6c 0%,#fa6ba4 100%);
}